<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.herocheer.face.dao.AppInterfaceInfoMapper">
  <resultMap id="BaseResultMap" type="com.herocheer.face.entity.AppInterfaceInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="interfaceAcctId" jdbcType="BIGINT" property="interfaceAcctId" />
    <result column="appAcctId" jdbcType="BIGINT" property="appAcctId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="updateTime" jdbcType="BIGINT" property="updateTime" />
    <result column="createdId" jdbcType="BIGINT" property="createdId" />
    <result column="createdBy" jdbcType="VARCHAR" property="createdBy" />
    <result column="createdTime" jdbcType="BIGINT" property="createdTime" />
    <result column="updateId" jdbcType="BIGINT" property="updateId" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, interfaceAcctId, appAcctId, state, updateTime, createdId, createdBy, createdTime,
    updateId, updateBy
  </sql>
  <select id="selectByExample" parameterType="com.herocheer.face.entity.AppInterfaceInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_interface_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_interface_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from app_interface_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.herocheer.face.entity.AppInterfaceInfoExample">
    delete from app_interface_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.herocheer.face.entity.AppInterfaceInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_interface_info (interfaceAcctId, appAcctId, state, 
      updateTime, createdId, createdBy,
      createdTime, updateId, updateBy
      )
    values (#{interfaceAcctId,jdbcType=BIGINT}, #{appAcctId,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=BIGINT}, #{createdId,jdbcType=BIGINT}, #{createdBy,jdbcType=VARCHAR},
      #{createdTime,jdbcType=BIGINT}, #{updateId,jdbcType=BIGINT}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.herocheer.face.entity.AppInterfaceInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_interface_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="interfaceAcctId != null">
        interfaceAcctId,
      </if>
      <if test="appAcctId != null">
        appAcctId,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="createdId != null">
        createdId,
      </if>
      <if test="createdBy != null">
        createdBy,
      </if>
      <if test="createdTime != null">
        createdTime,
      </if>
      <if test="updateId != null">
        updateId,
      </if>
      <if test="updateBy != null">
        updateBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="interfaceAcctId != null">
        #{interfaceAcctId,jdbcType=BIGINT},
      </if>
      <if test="appAcctId != null">
        #{appAcctId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createdId != null">
        #{createdId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.herocheer.face.entity.AppInterfaceInfoExample" resultType="java.lang.Long">
    select count(*) from app_interface_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_interface_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.interfaceAcctId != null">
        interfaceAcctId = #{record.interfaceAcctId,jdbcType=BIGINT},
      </if>
      <if test="record.appAcctId != null">
        appAcctId = #{record.appAcctId,jdbcType=BIGINT},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        updateTime = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.createdId != null">
        createdId = #{record.createdId,jdbcType=BIGINT},
      </if>
      <if test="record.createdBy != null">
        createdBy = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        createdTime = #{record.createdTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateId != null">
        updateId = #{record.updateId,jdbcType=BIGINT},
      </if>
      <if test="record.updateBy != null">
        updateBy = #{record.updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_interface_info
    set id = #{record.id,jdbcType=BIGINT},
      interfaceAcctId = #{record.interfaceAcctId,jdbcType=BIGINT},
      appAcctId = #{record.appAcctId,jdbcType=BIGINT},
      state = #{record.state,jdbcType=INTEGER},
      updateTime = #{record.updateTime,jdbcType=BIGINT},
      createdId = #{record.createdId,jdbcType=BIGINT},
      createdBy = #{record.createdBy,jdbcType=VARCHAR},
      createdTime = #{record.createdTime,jdbcType=BIGINT},
      updateId = #{record.updateId,jdbcType=BIGINT},
      updateBy = #{record.updateBy,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.herocheer.face.entity.AppInterfaceInfo">
    update app_interface_info
    <set>
      <if test="interfaceAcctId != null">
        interfaceAcctId = #{interfaceAcctId,jdbcType=BIGINT},
      </if>
      <if test="appAcctId != null">
        appAcctId = #{appAcctId,jdbcType=BIGINT},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="createdId != null">
        createdId = #{createdId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        createdBy = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        createdTime = #{createdTime,jdbcType=BIGINT},
      </if>
      <if test="updateId != null">
        updateId = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        updateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.herocheer.face.entity.AppInterfaceInfo">
    update app_interface_info
    set interfaceAcctId = #{interfaceAcctId,jdbcType=BIGINT},
      appAcctId = #{appAcctId,jdbcType=BIGINT},
      state = #{state,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=BIGINT},
      createdId = #{createdId,jdbcType=BIGINT},
      createdBy = #{createdBy,jdbcType=VARCHAR},
      createdTime = #{createdTime,jdbcType=BIGINT},
      updateId = #{updateId,jdbcType=BIGINT},
      updateBy = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getAppInterfaceInfo" parameterType="java.lang.Long" resultType="com.herocheer.face.vo.AppInterfaceVo">
    SELECT
      a.appAcctId,
      a.interfaceAcctId,
      b.userKey,
      b.userAuth,
      b.dayMaxCount,
      b.monthMaxCount
    FROM app_interface_info a,interface_account_info b
    WHERE a.interfaceAcctId = b.id
    and a.appAcctId = #{appAcctId}
    and a.state = 1
    and b.state = 1
    </select>
</mapper>